<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pn.dao.mapper.PnArticleMapper">
    <resultMap id="BaseResultMap" type="com.pn.dao.entity.PnArticle">
        <!--@mbg.generated-->
        <!--@Table pn_article-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="short_title" jdbcType="VARCHAR" property="shortTitle"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="catalog_id" jdbcType="BIGINT" property="catalogId"/>
        <result column="article_type" jdbcType="INTEGER" property="articleType"/>
        <result column="read_type" jdbcType="INTEGER" property="readType"/>
        <result column="source" jdbcType="TINYINT" property="source"/>
        <result column="source_url" jdbcType="VARCHAR" property="sourceUrl"/>
        <result column="offical_stat" jdbcType="TINYINT" property="officalStat"/>
        <result column="topping_stat" jdbcType="TINYINT" property="toppingStat"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="pay_amount" jdbcType="VARCHAR" property="payAmount"/>
        <result column="pay_way" jdbcType="TINYINT" property="payWay"/>
        <result column="pay_image_url" jdbcType="VARCHAR" property="payImageUrl"/>
        <result column="recommend" jdbcType="INTEGER" property="recommend"/>
    </resultMap>

    <resultMap id="ArticleBoResultMap" type="com.pn.dao.bo.article.PnArticleBo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="short_title" jdbcType="VARCHAR" property="shortTitle"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="catalog_id" jdbcType="BIGINT" property="catalogId"/>
        <result column="article_type" jdbcType="INTEGER" property="articleType"/>
        <result column="source" jdbcType="TINYINT" property="source"/>
        <result column="source_url" jdbcType="VARCHAR" property="sourceUrl"/>
        <result column="offical_stat" jdbcType="TINYINT" property="officalStat"/>
        <result column="topping_stat" jdbcType="TINYINT" property="toppingStat"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="pay_amount" jdbcType="VARCHAR" property="payAmount"/>
        <result column="pay_way" jdbcType="TINYINT" property="payWay"/>
        <result column="pay_image_url" jdbcType="VARCHAR" property="payImageUrl"/>
        <result column="recommend" jdbcType="INTEGER" property="recommend"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
    </resultMap>

    <resultMap id="ArticleIndexBo" type="com.pn.dao.bo.article.ArticleIndexBo">
        <id column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="user_id" jdbcType="TIMESTAMP" property="authorId"/>
        <result column="username" jdbcType="TIMESTAMP" property="authorName"/>
        <result column="avatar" jdbcType="BIGINT" property="authorAvatar"/>
        <result column="title" jdbcType="BIGINT" property="title"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="short_title" jdbcType="VARCHAR" property="shortTitle"/>
        <result column="picture" jdbcType="VARCHAR" property="cover"/>
        <result column="offical_stat" jdbcType="INTEGER" property="officalStat"/>
        <result column="topping_stat" jdbcType="INTEGER" property="toppingStat"/>
        <result column="recommend" jdbcType="INTEGER" property="recommend"/>
        <result column="update_at" jdbcType="DATE" property="updateTime"/>
        <result column="column_id" jdbcType="BIGINT" property="columnId"/>
        <result column="column_name" jdbcType="VARCHAR" property="columnName"/>
        <result column="catalog_name" jdbcType="VARCHAR" property="catalogName"/>
        <result column="catalog_id" jdbcType="BIGINT" property="catalogId"/>
        <collection property="tagVos" ofType="com.pn.common.vos.article.TagVo">
            <result column="tag_id" jdbcType="BIGINT" property="tagId"/>
            <result column="tag_name" jdbcType="VARCHAR" property="tagName"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        create_at,
        update_at,
        create_by,
        update_by,
        is_deleted,
        user_id,
        title,
        short_title,
        picture,
        summary,
        catalog_id,
        article_type,
        read_type,
        `source`,
        source_url,
        offical_stat,
        topping_stat,
        `status`,
        pay_amount,
        pay_way,
        pay_image_url,
        recommend
    </sql>

    <select id="page" resultMap="ArticleBoResultMap">
        select A.id,
               A.create_at,
               A.update_at,
               A.create_by,
               A.update_by,
               A.is_deleted,
               A.user_id,
               A.title,
               A.short_title,
               A.picture,
               A.summary,
               A.catalog_id,
               A.article_type,
               A.`source`,
               A.source_url,
               A.offical_stat,
               A.topping_stat,
               A.`status`,
               A.pay_amount,
               A.pay_way,
               A.pay_image_url,
               A.recommend
        from pn_article as A
                 left join pndb.pn_user P
                           on A.user_id = P.id
        <where>
            <if test="param.authorId != null">
                and A.id = #{param.articleId}
            </if>
            <if test="param.authorId != null">
                and A.user_id = #{param.authorId}
            </if>
            <if test="param.authorName != null and param.authorName != ''">
                and P.username like concat('%'
                    , #{param.authorName}
                    , '%')
            </if>
            <if test="param.status != null">
                and A.status = #{param.status}
            </if>
            <if test="param.title != null and param.title != ''">
                and A.title like concat('%'
                    , #{param.title}
                    , '%')
            </if>
            <if test="param.officalStat != null">
                and A.offical_stat = #{param.officalStat}
            </if>
            <if test="param.updateTime != null">
                and A.update_at
                    &lt; #{param.updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <select id="indexPage" resultMap="ArticleIndexBo">
        select article.id              as article_id,
               article.user_id         as user_id,
               user.avatar             as avatar,
               user.full_name          as username,
               article.title           as title,
               article.summary         as summary,
               article.short_title     as short_title,
               article.picture         as picture,
               article.offical_stat    as offical_stat,
               article.topping_stat    as topping_stat,
               article.recommend       as recommend,
               article.update_at       as update_at,
               column_info.id          as column_id,
               column_info.column_name as column_name,
               catalog.id              as catalog_id,
               catalog.category_name   as catalog_name,
               tag.id                  as tag_id,
               tag.tag_name = tag_name
        from pn_article as article
                 left join pn_user as user on article.user_id = user.id
                 left join pn_catalog as catalog on article.catalog_id = catalog.id
                 left join pn_column_article as pca on pca.article_id = article.id
                 left join pn_column_info as column_info on column_info.id = pca.column_id
                 left join pn_article_tag as article_tag on article_tag.article_id = article.id
                 left join pndb.pn_tag as tag on tag.id = article_tag.tag_id
        <where>
            <if test="param.search != null and param.search != ''">
                article.title like concat('%', #{param.search}, '%')
                   or article.short_title like concat('%', #{param.search}, '%')
                   or article.summary like concat('%', #{param.search}, '%')
                   or catalog.category_name like concat('%', #{param.search}, '%')
                   or column_info.column_name like concat('%', #{param.search}, '%')
                   or tag.tag_name like concat('%', #{param.search}, '%')
            </if>
            <if test="param.articleId != null">
                and article.id = #{param.articleId,jdbcType=BIGINT}
            </if>
            <if test="param.catalogId != null">
                and catalog.id = #{param.catalogId}
            </if>
            <if test="param.columnId != null">
                and column_info.id = #{param.columnId}
            </if>
            <if test="param.tagId != null">
                and tag.id = #{param.tagId}
            </if>
        </where>
    </select>
</mapper>