<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pn.dao.mapper.PnArticlePayRecordMapper">
  <resultMap id="BaseResultMap" type="com.pn.dao.entity.PnArticlePayRecord">
    <!--@mbg.generated-->
    <!--@Table pn_article_pay_record-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="pay_user_id" jdbcType="BIGINT" property="payUserId" />
    <result column="receive_user_id" jdbcType="BIGINT" property="receiveUserId" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="notify_time" jdbcType="TIMESTAMP" property="notifyTime" />
    <result column="notify_cnt" jdbcType="INTEGER" property="notifyCnt" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="verify_code" jdbcType="VARCHAR" property="verifyCode" />
    <result column="pay_amount" jdbcType="INTEGER" property="payAmount" />
    <result column="pre_pay_id" jdbcType="VARCHAR" property="prePayId" />
    <result column="pre_pay_expire_time" jdbcType="TIMESTAMP" property="prePayExpireTime" />
    <result column="pay_way" jdbcType="VARCHAR" property="payWay" />
    <result column="third_trans_code" jdbcType="VARCHAR" property="thirdTransCode" />
    <result column="pay_callback_time" jdbcType="TIMESTAMP" property="payCallbackTime" />
  </resultMap>
  <sql id="Base_Column_List">
      <!--@mbg.generated-->
      id,
      create_at,
      update_at,
      create_by,
      update_by,
      is_deleted,
      pay_user_id,
      receive_user_id,
      article_id,
      pay_status,
      notify_time,
      notify_cnt,
      notes,
      verify_code,
      pay_amount,
      pre_pay_id,
      pre_pay_expire_time,
      pay_way,
      third_trans_code,
      pay_callback_time
  </sql>

  <select id="isPaid" resultType="boolean">
      SELECT EXISTS(SELECT 1 FROM pn_article_pay_record
      WHERE is_deleted = 0 and article_id = #{articleId}
      and pay_user_id =#{userId})
    </select>
</mapper>